venv/
__pycache__
env
.vscode/
db.sqlite3
test_db.sqlite3
.env
.coverage
ypostirizoclient.config.py
ypostirizoclient.settings.py
.idea/.gitignore
.idea/dataSources.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/ypostirizoclient.iml
.idea/inspectionProfiles/profiles_settings.xml
